.container-sender {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.strong-user {
    font-size: 13px;
}

.p-sender {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    max-height: 60%;
}

/* Media query for small screens */
@media only screen and (max-width: 768px) {
    .p-sender {
        max-width: 80%;
        max-height: none;
    }
}
