.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.avatar-image {
    object-fit: cover;
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.strong-user {
    font-size: 13px;
}

p {
    padding: 10px;
    background-color: #dcf8c6;
    border-radius: 10px;
    max-height: 60%;
}
