.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.strong-user {
    font-size: 13px;
}

p {
    padding: 10px;
    background-color: #dcf8c6;
    border-radius: 10px;
    max-height: 60%;
}
