.button{
    width: 10%;
    height: 50px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
    background-color: #34b7f1;
    border-width: 0;
    color:#fff
}
.textarea{
    width: 60%;
    height: 50px;
    border-radius: 10px;
    border-width: 0;
    padding: 10px;
    font-size: 18px;
}
.text-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
